#include $workdir+"/templates/header.tmpl"

<table class="adminheading">
	<tr><td class="error">$error</td></tr>
	<tr><td class="normal">
	<pre>
	$text
	</pre>
	</td></tr>
</table>

#include $workdir+"/templates/footer.tmpl"
