
	    </div>
	    <!-- End Right Column -->

	</div>
	<!-- End Wrapper -->

        <div id="footer" align="center">
        <br />
        PRISM++ &copy; 2008 <a href="http://www7.informatik.uni-erlangen.de">INF7, FAU</a>, Licensed under the <a href="http://www.gnu.org/licenses/old-licenses/gpl-2.0.txt">GNU GPL-2</a></div>

    </body>
</html>
